<div class="output-block"
     v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '', getAttributes('class')]"
     :data-view-type="item.outputMapping.viewType"
     :data-output-mapping-id="item.outputMapping.id"
     :data-output-id="item.output.id"
     :data-output-status="item.output.outputStatus"
     v-show="item.output.outputStatus" >

    <div class="panel-group" id="accordion3">
        <div class="panel">
            <a class="accordion-toggle font-weight-bold" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true">
                Нетбек по месяцам
                <span class="ion-ios-information m-l-1" data-toggle="tooltip" data-placement="right" title="Нетбек по месяцам"></span>
                <div class="panel-heading-icon"><i class="ion-chevron-up"></i></div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse in" aria-expanded="true" style="">
                <div class="panel-body">
                    <div id="chartdiv_graph2" class="chartdiv_graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
