<div class="output-block"
     v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '', getAttributes('class')]"
     :data-view-type="item.outputMapping.viewType"
     :data-output-mapping-id="item.outputMapping.id"
     :data-output-id="item.output.id"
     :data-output-status="item.output.outputStatus"
     v-show="item.output.outputStatus" >

        <div class="panel-group" id="accordion2">
            <div class="panel">
                <a class="accordion-toggle font-weight-bold" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true">
                    Зависимость цены на нефть от курса доллара
                    <span class="ion-ios-information m-l-1" data-toggle="tooltip" data-placement="right" title="Расположение выбранного соотношения курса доллара и цены на нефть с возможностью визуальной оценки отклонения от тренда"></span>
                    <div class="panel-heading-icon"><i class="ion-chevron-up"></i></div>
                </a>

                <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true" style="">
                    <div class="panel-body">
                        <div id="chartdiv_prices"></div>
                        <div class="panel-body inline-elements row">
                            <div class="col-md-7 inline-elements ">
                                <div class="input-daterange input-group inline-elements" id="datepicker-range">
                                    <div class="prototype-makr1-children-output" v-bind:class="[getAttributes('childrenClass')? getAttributes('childrenClass'):'']" >
                                        <template v-for="item in item.childOutputs">
                                            <output-block
                                                v-bind:item="item"
                                            ></output-block>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="pull-right"
                                     style="overflow: hidden; position: relative; text-align: left; width: 300px; height: 31px;">
                                    <svg version="1.1" style="position: absolute; width: 300px; height: 31px;">
                                        <desc>JavaScript chart by amCharts 3.21.6</desc>
                                        <g transform="translate(20,0)">
                                            <path cs="100,100" d="M0.5,0.5 L779.5,0.5 L779.5,37.5 L0.5,37.5 Z"
                                                  fill="#FFFFFF" stroke="#000000" fill-opacity="0" stroke-width="1"
                                                  stroke-opacity="0"></path>
                                            <g transform="translate(0,0)">
                                                <g aria-label="Исторические данные за выбранный период"
                                                   transform="translate(0,0)">
                                                    <circle r="5" cx="0" cy="0" fill="#007DC3" stroke="#007DC3"
                                                            fill-opacity="0.7" stroke-width="1" stroke-opacity="1"
                                                            transform="translate(5,9)"></circle>
                                                    <g transform="translate(5,9)" visibility="hidden">
                                                        <path cs="100,100" d="M-2.5,-2.5 L3.5,3.5" fill="none"
                                                              stroke="#FFFFFF" stroke-width="3"></path>
                                                        <path cs="100,100" d="M-2.5,3.5 L3.5,-2.5" fill="none"
                                                              stroke="#FFFFFF" stroke-width="3"></path>
                                                    </g>
                                                    <text y="5" fill="#000000" font-family="Verdana"
                                                          font-size="11px" opacity="1" text-anchor="start"
                                                          transform="translate(15,8)">
                                                        <tspan y="5" x="0">Исторические данные за выбранный период
                                                        </tspan>
                                                    </text>
                                                    <rect x="10" y="0" width="256.203125" height="18" rx="0" ry="0"
                                                          stroke-width="0" stroke="none" fill="#fff"
                                                          fill-opacity="0.005"></rect>
                                                </g>
                                                <g aria-label="Выбранное значение" transform="translate(0,15)">
                                                    <circle r="5" cx="0" cy="0" fill="#EF5F2F" stroke="#EF5F2F"
                                                            fill-opacity="0.7" stroke-width="1" stroke-opacity="1"
                                                            transform="translate(5,9)"></circle>
                                                    <g transform="translate(5,9)" visibility="hidden">
                                                        <path cs="100,100" d="M-2.5,-2.5 L3.5,3.5" fill="none"
                                                              stroke="#FFFFFF" stroke-width="3"></path>
                                                        <path cs="100,100" d="M-2.5,3.5 L3.5,-2.5" fill="none"
                                                              stroke="#FFFFFF" stroke-width="3"></path>
                                                    </g>
                                                    <text y="5" fill="#000000" font-family="Verdana"
                                                          font-size="11px" opacity="1" text-anchor="start"
                                                          transform="translate(15,8)">
                                                        <tspan y="5" x="0">Выбранное значение</tspan>
                                                    </text>
                                                    <rect x="10" y="0" width="256.203125" height="18" rx="0" ry="0"
                                                          stroke-width="0" stroke="none" fill="#fff"
                                                          fill-opacity="0.005"></rect>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>