<div class="output-block-drop-menu"
     v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '', getAttributes('class')]"
     :data-view-type="item.outputMapping.viewType"
     :data-output-mapping-id="item.outputMapping.id"
     :data-output-id="item.output.id"
     :data-output-status="item.output.outputStatus"
     v-show="item.output.outputStatus" >

    <template v-if="item.outputMapping.viewType === 1">
        <div>

            <span>{{ item.outputMapping.title }}</span>
            <select class="form-control"
                    v-on:change="modelInputPtdChange()"
                    v-model="item.expParam.ptdCustom.view">
                <option v-for="relatedItem in item.expParamRelated.ptdCustom.view"
                        v-bind:value="relatedItem.id"
                        v-bind:selected="item.expParam.ptdCustom.view == relatedItem.id">
                    {{ relatedItem.name }}
                </option>
            </select>
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 2">
        <div>
            <span>{{ item.outputMapping.title }}</span>
            <select class="form-control"
                    v-on:change="modelInputPtdChange()"
                    v-model="item.expParam.ptdCustom.view">
                <option v-for="relatedItem in item.expParamRelated.ptdCustom.view"
                        v-bind:value="relatedItem"
                        v-bind:selected="item.expParam.ptdCustom.view == relatedItem">
                    {{ relatedItem.name }}
                </option>
            </select>
        </div>
    </template>


</div>