<div class="output-block-drop-menu"
     v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '', getAttributes('class')]"
     :data-view-type="item.outputMapping.viewType"
     :data-output-mapping-id="item.outputMapping.id"
     :data-output-id="item.output.id"
     :data-output-status="item.output.outputStatus"
     v-show="item.output.outputStatus" >

    <template v-if="item.outputMapping.viewType === 1">
        <a href="#" class="rate__link pull-xs-right" v-on:click="onClick">{{ item.outputMapping.title }}</a>
    </template>

    <template v-if="item.outputMapping.viewType === 2">
        <button type="button" class="btn btn-custom pull-xs-right" v-on:click="onClick">{{ item.outputMapping.title }}</button>
    </template>

    <template v-if="item.outputMapping.viewType === 3">
        <button type="button" class="btn btn-default full-width" v-on:click="onClick">{{ item.outputMapping.title }}</button>
    </template>

</div>