{% extends '@App/layouts/insidePixelTemplateVue.html.twig' %}


{% block title %}
    Анализ / Ставка дисконта
{% endblock %}


{% block javascriptBottom %}
    {{ parent() }}

    {%  include '@App/common/graphScripts.html.twig' %}
    <script src="/bundles/app/includes/pixeladmin/js/chart-data-graph2.js"></script>
    <script src="/bundles/app/includes/pixeladmin/js/chart-setting-graph2.js"></script>

    <script type="text/javascript">
        var prototypeMark1TopPanelSlug = ['section.analysis.discount.handjob', 'section.analysis.graphs'];
        var listComponents = [
            'panelCompanent.js',
            'panelTableCompanent.js',
            'outputTableCompanent.js',
            'panelBlockCompanent.js',
            'outputBlockCompanent.js',
            'outputs/dropMenuCompanent.js',
            'outputs/eventClickCompanent.js',
            'graphs/countWellsYearsCompanent.js',
            'graphs/oilPricesDollarRateCompanent.js',
            'graphs/debitFirstYearsCompanent.js',
            'graphs/drillingCountByYearCompanent.js',
            'graphs/irrCompanent.js'
        ];
        function initController() {}
    </script>
{% endblock %}


{% block content %}
    <div class="px-content rate">
        <div id="prototypeMakr1BaseVueApp">
            <ol class="breadcrumb font-size-18 tool-header">
                <li><img src="/bundles/app//img/menu-icon5.png" class="p-r-1" alt=""><a href="#">Анализ</a></li>
                <li class="active">Ставка дисконта</li>
            </ol>
            <div class="row">
                <div class="col-lg-3">

                    <panel
                        :output-panel="getOutputPanelItemBySlug('section.analysis.discount.handjob')"
                    ></panel>


                </div>
                <div class="col-lg-9">

                    <panel
                        :output-panel="getOutputPanelItemBySlug('section.analysis.graphs')"
                    ></panel>

                </div>
            </div>
        </div>

        {% include 'AppBundle:common:sourcedata_bottom_panel.html.twig' %}

    </div>
{% endblock %}
