
<div class="modal fade modal-expenses-add " tabindex="-1" role="dialog"  id="modal-expenses-add">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form v-on:submit.prevent="onSubmit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Добавить показатель</h4>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Категория затрат</label>
                                <select class="form-control"
                                        v-model="firstSelectedOutputMapping"
                                        v-on:change="changeFirstSelect()"
                                >
                                    <option v-bind:value="null"></option>
                                    <option v-for="item in firstOutputMappingList"
                                            v-bind:value="item" >
                                        {{ item.outputMapping.title }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="">Показатель</label>
                                <select class="form-control"
                                        v-model="secondSelectedOutputMapping"
                                        v-on:change="changeSecondSelect()"
                                        :disabled="secondOutputMappingList.length == 0"
                                >
                                    <option v-for="item in secondOutputMappingList"
                                            v-bind:value="item" >
                                        {{ item.outputMapping.title }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="">Значение</label>
                                <input type="text"
                                       class="form-control"
                                       :disabled="selectedMeasure == null"
                                       v-model="expensesValue"
                                       required
                                />
                            </div>
                            <div class="col-md-3">
                                <label for="" >Единица измерений</label>
                                <select class="form-control"
                                        v-model="selectedMeasure"
                                        :disabled="measureList.length == 0"
                                >
                                    <option v-for="item in measureList"
                                            v-bind:value="item" >
                                        {{ item.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" :disabled="expensesValue == null || expensesValue == ''">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
