<div class="output-block"
     v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '', getAttributes('class')]"
     :data-view-type="item.outputMapping.viewType"
     :data-output-mapping-id="item.outputMapping.id"
     :data-output-id="item.output.id"
     :data-output-status="item.output.outputStatus"
     v-show="item.output.outputStatus" >


    <template v-if="item.outputMapping.viewType === 41">
        <button type="button" class="btn btn-default btn-sm pull-right" v-on:click="outputOnClick()">{{ item.outputMapping.title }}</button>
    </template>


    <template v-if="item.outputMapping.viewType === 42 || item.outputMapping.viewType === 43">
        <span v-if="item.expParam.ptdCustom.viewText != ''" class="font-weight-bold">
            - {{ item.expParam.ptdCustom.viewText }}
        </span>
    </template>

    <template v-if="item.outputMapping.viewType === 422 && item.expParam.ptdCustom.view !== ''">
        <div v-for="(kek, index) in item.expParam.ptdCustom.view" class="panel panel-collapsed m-b-1">
            <div class="panel-heading">
                <a class="accordion-toggle collapsed"
                   data-toggle="collapse"
                   :data-parent="'#table-data-' + index"
                   :href="'#collapse-layer-' + index"
                   aria-expanded="true">
                    <span class="panel-heading-title">
                        {{ kek.title }}
                    </span>
                    <div class="panel-heading-icon"><i class="ion-chevron-up"></i></div>
                </a>
            </div>
            <div :id="'collapse-layer-' + index" class="panel-collapse collapse " aria-expanded="true" style="">
                <span v-if="kek.depthMin || kek.depthMax" class="block-span">
                    Глубина залегания, м: {{ kek.depthMin ? kek.depthMin : 'не указано' }} - {{ kek.depthMax ? kek.depthMax : 'не указано' }}
                </span>
                <span v-if="kek.oilBearingArea" class="block-span">
                    Площадь нефтеносности, тыс. м2: {{ kek.oilBearingArea ? kek.oilBearingArea : 'не указано' }}
                </span>
                <span v-if="kek.oilSaturatedThicknessMin || kek.oilSaturatedThicknessMax" class="block-span">
                    Нефтенасыщенная толщина (общ/эфф), м:
                    {{ kek.oilSaturatedThicknessMin ? kek.oilSaturatedThicknessMin : 'не указано' }}
                    -
                    {{ kek.oilSaturatedThicknessMax ? kek.oilSaturatedThicknessMax : 'не указано' }}
                </span>
                <span v-if="kek.porosityMin || kek.porosityMax" class="block-span">
                    Пористость: {{ kek.porosityMin ? kek.porosityMin : 'не указано' }} - {{ kek.porosityMax ? kek.porosityMax : 'не указано' }}
                </span>
                <span v-if="kek.saturationMin || kek.saturationMax" class="block-span">
                    Нефтенасыщенность: {{ kek.saturationMin ? kek.saturationMin : 'не указано' }} - {{ kek.saturationMax ? kek.saturationMax : 'не указано' }}
                </span>
                <span v-if="kek.permeability" class="block-span">
                    Проницаемость, мкм2: {{ kek.permeability ? kek.permeability : 'не указано' }}
                </span>
                <span v-if="kek.viscosity" class="block-span">
                    Вязкость,  мПа.с: {{ kek.viscosity ? kek.viscosity : 'не указано' }}
                </span>
                <span v-if="kek.productionFromStart" class="block-span">
                    Добыча с начала разработки, тыс. Т: {{ kek.productionFromStart ? kek.productionFromStart : 'не указано' }}
                </span>
                <span v-if="kek.stockIzvlABC1NextYearBegin || kek.stockIzvlC2NextYearBegin" class="block-span">
                    Извлекаемые запасы, тыс.:
                    {{ kek.stockIzvlABC1NextYearBegin ? kek.stockIzvlABC1NextYearBegin : 'не указано' }}
                    -
                    {{ kek.stockIzvlC2NextYearBegin ? kek.stockIzvlC2NextYearBegin : 'не указано' }}
                </span>
            </div>
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 345">
            Выбор вида УВС
            <ul class="nav nav-tabs b-b-0">
                <li class="dropdown dropdown_changable">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Нефть</a>
                    <ul class="dropdown-menu">
                        <li class="active">
                            <a href="#tabs-dropdown1" data-toggle="tab">Нефть</a>
                        </li>
                    </ul>
                </li>
            </ul>
    </template>

    <template v-if="item.outputMapping.viewType === 346">
        <div>
            Цена на нефть Юралс <i class="ion-ios-information text-light" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Средняя стоимость нефти на внешнем рынке сбыта"></i>
            <p class="inline-elements">
                <input class="rate__field p-x-1" type="tex" value="41,5" placeholder=""
                       id="rate-field-1">
                <span class="p-l-1">долл./барр.</span>
            </p>
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 44">
        <span v-if="item.expParam.ptdCustom.viewText != ''">
            - {{ item.expParam.ptdCustom.viewText }}&nbsp;
        </span>
        <i class="ion-ios-information"
           data-toggle="tooltip"
           data-placement="right"
           title=""
           :data-original-title="item.outputMapping.tooltip"></i>
    </template>

    <template v-if="item.outputMapping.viewType === 302">
        <div class="input-daterange input-group inline-elements" id="datepicker-range">
        <span class="p-r-1">с</span>
        <input type="text" class="form-control datepicker p-x-1 "
               id="rate-date-field-1"
               name="date-start"
               v-model="item.expParam.ptdCustom.view"
               v-on:change="modelInputPtdChange()"
        >
        &nbsp
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 303">
        <div class="input-daterange input-group inline-elements" id="datepicker-range">
        <span class="p-r-1">по</span>
        <input type="text" class="form-control datepicker p-x-1 "
               id="rate-date-field-1"
               name="date-end"
               v-model="item.expParam.ptdCustom.view"
               v-on:change="modelInputPtdChange()"
        >
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 201">
        <strong>{{ item.outputMapping.title }}</strong> {{ item.expParam.ptdCustom.viewText }}
    </template>

    <template v-if="item.outputMapping.viewType === 202">
        {{ item.expParam.ptdCustom.viewText }}
    </template>



    <template v-if="item.outputMapping.viewType === 101">
        <div>
            <p>
                <label class="checkbox-inline">
                    <input type="checkbox"
                           v-model="item.expParam.custom.view"
                           true-value="1"
                           false-value="0"
                           v-on:change="modelInputCustomChange()">
                    {{ item.outputMapping.title }}
                    <i class="ion-ios-information text-light"
                       data-toggle="tooltip"
                       data-placement="top"
                       title=""
                       :data-original-title="item.outputMapping.tooltip"></i>
                </label>
            </p>
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 102">
        <div>
           {{ item.outputMapping.title }}
            ( здесь должен быть селект )
        </div>
    </template>

    <template v-if="item.outputMapping.viewType === 103">
        <div>
            {{ item.outputMapping.title }}
            <i class="ion-ios-information text-light"
               data-toggle="tooltip"
               data-placement="top"
               title=""
               data-original-title="Средняя стоимость нефти на внешнем рынке сбыта"></i>
            <p class="inline-elements">
                <input type="text" class="form-control datepicker p-x-1 "
                   v-model="item.expParam.custom.view"
                   v-on:change="modelInputCustomChange()"
                >
                <span class="p-l-1">{{ item.expParam.measure.title }}</span>
            </p>
        </div>
    </template>

</div>
