<tr class="prototype-makr1-output"
    v-bind:class="[model.isDanger ? 'danger': '', model.isWarning ? 'warning': '']"
    :data-view-type="item.outputMapping.viewType"
    :data-output-mapping-id="item.outputMapping.id"
    :data-output-id="item.output.id"
    :data-output-status="item.output.outputStatus"
    v-show="item.output.outputStatus"
>

    <template v-if="item.outputMapping.viewType === 1">
        <th colspan="9" class="" v-bind:class="getClass()">
            {{ item.outputMapping.title }}
        </th>
    </template>

    <template v-if="item.outputMapping.viewType === 111">
        <th v-if="item.childOutputs.length > 1" colspan="9" class="" v-bind:class="getClass()">
            {{ item.outputMapping.title }}
        </th>
    </template>

    <template v-if="item.outputMapping.viewType === 2">
        <th class="table-td-1">
            <span v-bind:class="[deepLebel > 2 ? 'p-l-3 level2' : '']">{{ item.outputMapping.title }}</span>
        </th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4">
            <div class="m-l-3">
                <label class="custom-control custom-radio" >
                    <input type="radio"
                           class="custom-control-input"
                           value="ptdCustom"
                           v-bind:name="'output-selected-type-' + item.outputMapping.id"
                           v-model="model.slugSelectedType"
                           v-on:click="setSlugSelectedType('ptdCustom')"
                    >
                    <span class="custom-control-indicator"></span>
                    <input type="text"
                           class=""
                           v-model="item.expParam.ptdCustom.view"
                           v-on:change="modelInputPtdChange()"
                    >
                </label>
            </div>
        </td>
        <td class="table-td-5">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <input  type="radio"
                            class="custom-control-input"
                            value="recommend"
                            v-bind:name="'output-selected-type-' + item.outputMapping.id"
                            v-model="model.slugSelectedType"
                            v-on:click="setSlugSelectedType('recommend')"
                    >
                    <span class="custom-control-indicator"></span>
                    <span class="">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6 text-center">
            {{item.expParam.paramDifference}} %
        </td>
        <td class="table-td-7">
            <div class="off_m-l-3">
                <input  type="text"
                        :disabled="getAttributes('custom_disabled')"
                        :class="getAttributes('class')"
                        class="off_form-control"
                        v-model="model.inputSelected"
                        v-on:change="modelInputSelectedChange()"
                >
            </div>
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 4">
        <td class="table-td-1">
            <span v-bind:class="[deepLebel == 2 ? 'p-l-3 level2' : '', deepLebel == 1 ? 'font-weight-semibold' : '']">{{ item.outputMapping.title }}</span>
        </td>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4"></td>
        <td class="text-left table-td-5">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class=" text-left">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6"></td>
        <td class="table-td-7"></td>
        <td class="p-y-0 table-td-8">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 5">
        <th class="table-td-1">
            <span v-bind:class="[deepLebel > 2 ? 'p-l-3' : '']" style="float: left;">{{ item.outputMapping.title }}</span>
        </th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4"></td>
        <td class="table-td-5 text-left">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class=" text-left">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6"></td>
        <td class="table-td-7">
            <input  type="text"
                    :class="getAttributes('class')"
                    class="off_form-control"
                    v-model="model.inputSelected"
                    v-on:change="modelInputSelectedChange()"
            >
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 6">
        <th class="table-td-1">
            <span v-bind:class="[deepLebel > 2 ? 'p-l-3 level2' : '']" style="float: left;">{{ item.outputMapping.title }}</span>
        </th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4"></td>
        <td class="table-td-5 text-left">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class=" text-left">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6"></td>
        <td class="table-td-7">
            <input  type="text"
                    disabled="disabled"
                    :class="getAttributes('class')"
                    class="off_form-control"
                    v-model="item.expParam.calculation.viewText"
            >
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 7">
        <td v-if="childCount > 1" class="table-td-1"><span v-bind:class="[deepLebel > 2 ? 'p-l-3 level2' : '']"> {{ item.outputMapping.title }}</span></td>
        <th v-else-if="parentCheat == item.outputMapping.title" class="table-td-1">{{ item.outputMapping.title }}</th>
        <th v-else class="table-td-1">{{ parentCheat }}: {{ item.outputMapping.title }}</th>
        <td class="table-td-2">
            <template v-if="item.expParam">
                <div class="inline-elements">
                    <input type="text"
                           :class="getAttributes('class')"
                           class="off_form-control"
                           v-model="item.expParam.ptdCustom.view"
                           v-on:change="modelInputPtdChange()"
                    >
                </div>
            </template>
        </td>
        <td class="table-td-3">
            <template v-if="item.expParam">
                {{ item.expParam.measure.title }}
            </template>
        </td>
        <td class="table-td-4">
            <button type="button" class="btn btn-default btn-sm pull-right " v-on:click="deleteOutput()">Удалить</button>
        </td>
        <td class="table-td-5 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 8">
        <th colspan="9" class="" v-bind:class="getClass()">
            {{ item.outputMapping.title }}
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm expenses-add-category-item" v-on:click="loadAndShowModalExpensesAdd()">Добавить</button>
            </div>
        </th>
    </template>

    <template v-if="item.outputMapping.viewType === 9">
        <th class="table-td-1">
            <span v-bind:class="[deepLebel > 2 ? 'p-l-3' : '']" style="float: left;">{{ item.outputMapping.title }}</span>
        </th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4"></td>
        <td class="table-td-5 text-left">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class=" text-left">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6"></td>
        <td class="table-td-7">
            <div class="m-l-3">
                <input  type="text"
                        :class="getAttributes('class')"
                        class="form-control"
                        disabled
                        v-model="item.expParam.calculation.view"
                        v-on:change="modelInputSelectedChange()"
                >
            </div>
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 10">
        <th class="table-td-1">
            <span v-bind:class="[deepLebel > 2 ? 'p-l-3' : '']" style="float: left;">{{ item.outputMapping.title }}</span>
        </th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4">
            <div class="m-l-3">
                <label class="custom-control custom-radio" >
                    <input type="text"
                           class=""
                           v-model="item.expParam.ptdCustom.view"
                           v-on:change="modelInputPtdChange()"
                    >
                </label>
            </div>
        </td>
        <td class="table-td-5">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class="">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6 text-center">
            {{item.expParam.paramDifference}} %
        </td>
        <td class="table-td-7">
            <div class="off_m-l-3">
                <input  type="text"
                        disabled="disabled"
                        :class="getAttributes('class')"
                        class="off_form-control"
                        v-model="item.expParam.calculation.viewText"
                >
            </div>
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 11">
        <th class="table-td-1">{{ item.outputMapping.title }}</th>
        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4">
            <div class="m-l-3 price-raw-oil-input-ptd position-relative">
                <div class="custom-ptd-doule-wrapper">
                    <label class="text-left">ПТД</label>
                    <input type="text"
                           class="form-control display-inline-block width-md-auto"
                           v-model="item.expParam.ptdCustom.view"
                           v-on:change="modelInputPtdChange()"
                    >
                </div>
                <div>
                    <label class="text-left">Расчет</label>
                    <input type="text"
                           disabled
                           class="form-control display-inline-block width-md-auto"
                           v-model="item.expParam.calculation_2.view"
                    >
                </div>
            </div>
        </td>
        <td class="table-td-5">
            <div class="m-l-3">
                <label class="custom-control" >
                    <span>{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6 text-center">
            {{item.expParam.paramDifference}} %
        </td>
        <td class="table-td-7">
            <div class="off-m-l-3">
                <input type="text"
                       disabled
                       :class="getAttributes('class')"
                       class="off-form-control"
                       v-model="item.expParam.calculation.view"
                >
            </div>
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger"
               class="font-size-24 font-weight-bold ion-ios-information-outline"
               data-toggle="tooltip"
               data-placement="left"
               title=""
               data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning"
               class="font-size-24 font-weight-bold ion-ios-information-outline"
               data-toggle="tooltip"
               data-placement="left"
               title=""
               data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 12">
        <th colspan="9" class="" v-bind:class="getClass()">
            {{ item.outputMapping.title }}  {{item.expParam.ptdCustom.view}}
        </th>
    </template>

    <template v-if="item.outputMapping.viewType === 13">
        <th colspan="9" class="" v-bind:class="getClass()">
            <span class="text-warning" v-html="item.outputMapping.title"></span>
        </th>
    </template>

    <template v-if="item.outputMapping.viewType === 14">
        <td class="table-td-1">
            <span v-bind:class="[deepLebel > 1 ? 'p-l-3 level2' : '']">{{ item.outputMapping.title }}</span>
        </td>

        <td class="table-td-2"><i class="ion-ios-information" data-toggle="tooltip" data-placement="right" title="" :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3">{{ item.expParam.measure.title }}</td>
        <td class="table-td-4">

        </td>
        <td class="table-td-5">
            <div class="m-l-3">
                <label class="custom-control custom-radio">
                    <span class="">{{item.expParam.recommend.viewText}}</span>
                </label>
            </div>
        </td>
        <td class="table-td-6 text-center"></td>
        <td class="table-td-7">
            <div class="off_m-l-3">
                <input  type="text"
                        :disabled="getAttributes('custom_disabled')"
                        :class="getAttributes('class')"
                        class="off_form-control"
                        v-model="model.inputSelected"
                        v-on:change="modelInputSelectedChange()"
                >
            </div>
        </td>
        <td class="table-td-8 p-y-0">
            <i v-if="model.isDanger" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Значение изменено автоматически. Обнаружено сильное отклонение значения ПТД от рекомендуемого"></i>
            <i v-if="model.isWarning" class="font-size-24 font-weight-bold ion-ios-information-outline" data-toggle="tooltip" data-placement="left" title="" data-original-title="Обнаружено отклонение значения ПТД от рекомендуемого"></i>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 21 || item.outputMapping.viewType === 42">
        <th class="table-td-1">{{ item.outputMapping.title }}</th>
        <td class="table-td-2 tooltip-td">
            <i class="ion-ios-information"
               data-toggle="tooltip"
               data-placement="right"
               title=""
               :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3" :class="getAttributes('valueTdClass')">
            <input
                    class="form-control"
                    :type="getAttributes('type') ? getAttributes('type') : 'text'"
                    :class="getClass()"
                    :disabled="getAttributes('disabled')"
                    :min="getAttributes('min')"
                    :max="getAttributes('max')"
                    v-model="item.expParam.ptdCustom.view"
                    v-on:change="modelInputPtdChange()"
            >
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 22">
        <th class="table-td-1">{{ item.outputMapping.title }}</th>
        <td class="table-td-2 tooltip-td">
            <i class="ion-ios-information"
               data-toggle="tooltip"
               data-placement="right"
               title=""
               :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3" :class="getAttributes('valueTdClass')">
            <select class="form-control"
                    v-on:change="modelInputPtdChange()"
                    v-model="item.expParam.ptdCustom.view">
                <option v-for="relatedItem in item.expParamRelated.custom.view"
                        v-bind:value="relatedItem.id"
                        v-bind:selected="item.expParam.ptdCustom.view == relatedItem.id">
                    {{ relatedItem.name }}
                </option>
            </select>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 23">
        <th class="table-td-1 label-th">{{ item.outputMapping.title }}</th>
        <td class="table-td-2 tooltip-td">
            <i class="ion-ios-information"
               data-toggle="tooltip"
               data-placement="right"
               title=""
               :data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3" :class="getAttributes('valueTdClass')">
            <select class="form-control"
                    :class="getClass()"
                    :multiple="getAttributes('multiple')"
                    v-on:change="modelInputPtdChange()"
                    v-model="item.expParam.ptdCustom.view">
                <option v-for="relatedItem in item.expParamRelated.custom.view"
                        v-bind:value="relatedItem.name"
                        v-bind:selected="item.expParam.ptdCustom.view == relatedItem.name">
                    {{ relatedItem.name }}
                </option>
            </select>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 24">
        <td colspan="3">
            <button type="button" class="pull-right btn" v-on:click="outputOnClick()">{{ item.outputMapping.title }}</button>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 25">
        <td colspan="3">
            <div class="alert">
                {{ item.outputMapping.title }}
            </div>
        </td>
    </template>

    <template v-if="item.outputMapping.viewType === 28">
        <th class="table-td-1">{{ item.outputMapping.title }}</th>
        <td class="table-td-2 tooltip-td">
            <i class="ion-ios-information"
               data-toggle="tooltip"
               data-placement="right"
               title=""
               v-bind:data-original-title="item.outputMapping.tooltip"></i></td>
        <td class="table-td-3" :class="getAttributes('valueTdClass')">
            <select class="form-control"
                    v-on:change="modelInputPtdChange()"
                    v-model="item.expParam.ptdCustom.view"
                    multiple
            >
                <option v-for="relatedItem in item.expParamRelated.custom.view"
                        v-bind:value="relatedItem.name"
                        v-bind:selected="item.expParam.ptdCustom.view == relatedItem.id">
                    {{ relatedItem.name }}
                </option>
            </select>
        </td>
    </template>




</tr>
