<div class="prototype-makr1-panel-table">

    <template v-if="outputPanel.outputMappingPanel.viewType === 1101">
        <div class="off_table-responsive">
            <table class="table custom-table">
                <thead>
                <tr>
                    <template v-if="outputPanel.outputMappingPanel.slug === 'section.expenses'">
                        <th class="table-th-1">Показатель</th>
                        <th class="table-th-2 text-xs-center"><div>Значение</div></th>
                        <th class="table-th-3 text-xs-center"><div>Единица</div> измерений</th>
                        <th> </th>
                    </template>

                    <template v-if="getAttributes('headerTypeId') === 1">
                        <th class="table-th-1">Показатель</th>
                        <th class="table-th-2"></th>
                        <th class="table-th-3 text-xs-center"><div>Единица</div> измерений</th>
                        <th class="table-th-4 text-xs-center">
                            <div>Значение</div> ПТД
                            <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Значение показателя из проектно-технического документа"></i>
                        </th>
                        <th class="table-th-5 text-xs-center">
                            <div>Рекомендуемое</div> значение
                            <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Значение показателя в соответствии с правилами подготовки ПТД"></i>
                        </th>
                        <th class="table-th-6 text-xs-center">
                            <div>Отклонение</div>
                            <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Отклонение значения ПТД от рекомендуемого"></i>
                        </th>
                        <th class="table-th-7 text-xs-center">
                            <div>Выбранное</div> значение <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Принятое значение из предложенных вариантов"></i>
                        </th>
                        <th></th>
                    </template>
                </tr>
                </thead>
                <tbody>

                <template v-for="item1 in outputPanel.outputs">
                <output-table
                v-bind:item="item1"
                v-bind:deepLebel="1"
                ></output-table>

                    <template v-if="item1.childOutputs" v-for="item2 in item1.childOutputs">
                    <output-table
                    v-bind:item="item2"
                    v-bind:childCount="item1.childOutputs.length"
                    v-bind:deepLebel="2"
                    ></output-table>

                        <template v-if="item2.childOutputs" v-for="item3 in item2.childOutputs">
                        <output-table
                        v-bind:item="item3"
                        v-bind:parentCheat="item2.outputMapping.title"
                        v-bind:childCount="item2.childOutputs.length"
                        v-bind:deepLebel="3"
                        ></output-table>

                            <template v-if="item3.childOutputs" v-for="item4 in item3.childOutputs">
                            <output-table
                            v-bind:item="item4"
                            v-bind:childCount="item3.childOutputs.length"
                            v-bind:deepLebel="4"
                            ></output-table>

                            </template>

                        </template>

                    </template>

                </template>

                </tbody>
            </table>
        </div>
    </template>



    <template v-if="outputPanel.outputMappingPanel.viewType === 1201">
        <div class="panel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table custom-table">
                        <thead>
                        <tr>
                            <template v-if="outputPanel.outputMappingPanel.slug === 'section.expenses'">
                                <th class="table-th-1">Показатель</th>
                                <th class="table-th-2 text-xs-center"><div>Значение</div></th>
                                <th class="table-th-3 text-xs-center"><div>Единица</div> измерений</th>
                                <th> </th>
                            </template>

                            <template v-if="getAttributes('headerTypeId') === 1">
                                <th class="table-th-1">Показатель</th>
                                <th class="table-th-2"></th>
                                <th class="table-th-3 text-xs-center"><div>Единица</div> измерений</th>
                                <th class="table-th-4 text-xs-center">
                                    <div>Значение</div> ПТД
                                    <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Значение показателя из проектно-технического документа"></i>
                                </th>
                                <th class="table-th-5 text-xs-center">
                                    <div>Рекомендуемое</div> значение
                                    <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Значение показателя в соответствии с правилами подготовки ПТД"></i>
                                </th>
                                <th class="table-th-6 text-xs-center">
                                    <div>Отклонение</div>
                                    <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Отклонение значения ПТД от рекомендуемого"></i>
                                </th>
                                <th class="table-th-7 text-xs-center">
                                    <div>Выбранное</div> значение <i class="ion-ios-information text-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Принятое значение из предложенных вариантов"></i>
                                </th>
                                <th></th>
                            </template>
                        </tr>
                        </thead>
                        <tbody>

                        <template v-for="item1 in outputPanel.outputs">
                            <output-table
                                    v-bind:item="item1"
                                    v-bind:deepLebel="1"
                            ></output-table>

                            <template v-if="item1.childOutputs" v-for="item2 in item1.childOutputs">
                                <output-table
                                        v-bind:item="item2"
                                        v-bind:childCount="item1.childOutputs.length"
                                        v-bind:deepLebel="2"
                                ></output-table>

                                <template v-if="item2.childOutputs" v-for="item3 in item2.childOutputs">
                                    <output-table
                                            v-bind:item="item3"
                                            v-bind:parentCheat="item2.outputMapping.title"
                                            v-bind:childCount="item2.childOutputs.length"
                                            v-bind:deepLebel="3"
                                    ></output-table>

                                    <template v-if="item3.childOutputs" v-for="item4 in item3.childOutputs">
                                        <output-table
                                                v-bind:item="item4"
                                                v-bind:childCount="item3.childOutputs.length"
                                                v-bind:deepLebel="4"
                                        ></output-table>

                                    </template>

                                </template>

                            </template>

                        </template>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>

    <div class="custom-row">
        <div class="custom-col-md-6 prototype-makr1-child-panel" v-for="item in outputPanel.childOutputPanels"  v-bind:class="[getAttributes('childrenClass')? getAttributes('childrenClass'):'']">
            <panel :output-panel="item"></panel>
        </div>
    </div>
</div>
