<div class="prototype-makr1-panel-block"
     v-bind:class="[getAttributes('class')? getAttributes('class'):'']"
    :data-output-mapping-panel-id="outputPanel.outputMappingPanel.id"
    :data-output-panel-id="outputPanel.id"
>

    <template v-if="outputPanel.outputMappingPanel.viewType === 31">
        <div class="panel">
            <div class="panel-heading"><b>{{ getAttributes('title') }}</b></div>
            <img class="panel-img" alt="Карта месторождения" style="width: 100%; display: block;" src="/bundles/app/img/oilfield/oilfield.png" data-holder-rendered="true">
        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 32">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-heading-title">
                    <b>{{ getAttributes('title') }}</b>
                    <template v-if="item.outputMapping.viewType === 42 || item.outputMapping.viewType === 43 || item.outputMapping.viewType === 44" v-for="item in outputPanel.outputs">
                        <output-block
                                v-bind:item="item"
                        ></output-block>
                    </template>
                </span>
                <template v-if="item.outputMapping.viewType === 41" v-for="item in outputPanel.outputs">
                    <output-block
                            v-bind:item="item"
                    ></output-block>
                </template>
            </div>

            <table class="table custom-table">
                <tbody>
                    <template v-if="item.outputMapping.viewType !== 41 && item.outputMapping.viewType !== 43 && item.outputMapping.viewType !== 44" v-for="item in outputPanel.outputs">
                        <output-table
                                v-bind:item="item"
                                v-bind:deepLebel="1"
                        ></output-table>

                        <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                            <output-table
                                    v-bind:item="item"
                                    v-bind:deepLebel="2"
                            ></output-table>

                            <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                                <output-table
                                        v-bind:item="item"
                                        v-bind:deepLebel="3"
                                ></output-table>

                                <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                                    <output-table
                                            v-bind:item="item"
                                            v-bind:deepLebel="4"
                                    ></output-table>
                                </template>
                            </template>
                        </template>
                    </template>
                </tbody>
            </table>

        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 322">
        <div class="panel panel-collapsed" style="overflow-y: scroll;max-height: 572px;">
            <div class="panel-heading">
                <a class="accordion-toggle collapsed"
                   data-toggle="collapse"
                   :data-parent="'#table-data-' + outputPanel.id"
                   :href="'#collapse-a-' + outputPanel.id "
                   aria-expanded="true">
                    <span class="panel-heading-title">
                        <b>{{ getAttributes('title') }}</b>
                    </span>
                    <div class="panel-heading-icon"><i class="ion-chevron-up"></i></div>
                </a>
            </div>
            <div :id="'collapse-a-' + outputPanel.id " class="panel-collapse collapse " aria-expanded="true" style="">
                <template v-if="item.outputMapping.viewType === 422"
                          v-for="item in outputPanel.outputs">
                    <output-block
                        v-bind:item="item"
                    ></output-block>
                </template>
            </div>
        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 33">
        <div class="panel panel-collapsed">
            <div class="panel-heading">
                <a class="accordion-toggle collapsed"
                   data-toggle="collapse"
                   :data-parent="'#table-data-' + outputPanel.id"
                   :href="'#collapse-a-' + outputPanel.id "
                   aria-expanded="true">
                    <span class="panel-heading-title">
                        <b>{{ getAttributes('title') }}</b>
                        <template v-if="item.outputMapping.viewType === 42 || item.outputMapping.viewType === 43 || item.outputMapping.viewType === 44"
                                  v-for="item in outputPanel.outputs">
                            <output-block
                                    v-bind:item="item"
                            ></output-block>
                        </template>
                    </span>
                    <div class="panel-heading-icon"><i class="ion-chevron-up"></i></div>
                </a>
            </div>
            <div :id="'collapse-a-' + outputPanel.id " class="panel-collapse collapse " aria-expanded="true" style="">
                <table class="table custom-table ">
                    <tbody>

                        <template v-if="item.outputMapping.viewType !== 43 && item.outputMapping.viewType !== 44" v-for="item in outputPanel.outputs">
                            <output-table
                                    v-bind:item="item"
                                    v-bind:deepLebel="1"
                            ></output-table>

                            <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                                <output-table
                                        v-bind:item="item"
                                        v-bind:deepLebel="2"
                                ></output-table>

                                <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                                    <output-table
                                            v-bind:item="item"
                                            v-bind:deepLebel="3"
                                    ></output-table>

                                    <template v-if="item.childOutputs" v-for="item in item.childOutputs">
                                        <output-table
                                                v-bind:item="item"
                                                v-bind:deepLebel="4"
                                        ></output-table>
                                    </template>
                                </template>
                            </template>
                        </template>

                    </tbody>
                </table>
            </div>
        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 34">
        <h4 :class="getAttributes('class')">{{ getAttributes('title') }}</h4>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 36">
        <template v-for="item in outputPanel.outputs">
            <output-graph-count-wells-years
                       v-bind:item="item"
                       v-bind:deepLebel="1"
            ></output-graph-count-wells-years>
        </template>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 35">
        <template v-for="item in outputPanel.outputs">
            <component :is="item.outputMapping.componentName" :item="item"></component>
        </template>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 40">
        <div class="panel alert p-a-0">
            <div class="panel-heading bg-white darker font-weight-bold">
                <div id="rate-graph-title">
                    <component
                            :is="getOuputItemBySlug('section.analysis.graphs.panel-title').outputMapping.componentName"
                            :item="getOuputItemBySlug('section.analysis.graphs.panel-title')"
                    ></component>
                </div>
            </div>
            <div class="panel-body bg-white">

                <div class="row">
                    <div class="col-lg-12">
                        <p class="font-weight-bold m-b-1">Периметр</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 m-b-1">

                        <!-- Объект -->
                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.type-source-select').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.type-source-select')"
                        ></component>

                    </div>
                    <div class="col-lg-4 m-b-1">

                        <!-- Выбор графика -->
                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.graph-select').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.graph-select')"
                        ></component>

                    </div>
                    <div class="col-lg-4 m-b-1">

                        <!-- Параметры расчета -->
                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.value-type-attr-select').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.value-type-attr-select')"
                        ></component>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 m-b-1">

                        <!-- Вариант разработки -->
                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.option-dev-select').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.option-dev-select')"
                        ></component>

                    </div>
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-4 m-b-1">

                        <!-- База расчета -->
                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.option-dev-type-select').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.option-dev-type-select')"
                        ></component>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 m-b-1">
                    </div>
                    <div class="col-lg-4 m-b-1 p-t-3">

                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.link-clear').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.link-clear')"
                        ></component>

                    </div>
                    <div class="col-lg-4 m-b-1 p-t-3">

                        <component
                                :is="getOuputItemBySlug('section.analysis.graphs.button-apply').outputMapping.componentName"
                                :item="getOuputItemBySlug('section.analysis.graphs.button-apply')"
                        ></component>

                    </div>
                </div>
            </div>
            <div class="panel-body bg-white">
                <div class="tab-content">

                    <template v-for="item in outputPanel.childOutputPanels">
                        <panel-block
                                :output-panel="item"
                                :deep-level="getChildDeepLevel()"
                        ></panel-block>
                    </template>

                </div>
                <p class="font-size-14 text-center">

                    <component
                            :is="getOuputItemBySlug('section.analysis.graphs.title-bottom').outputMapping.componentName"
                            :item="getOuputItemBySlug('section.analysis.graphs.title-bottom')"
                    ></component>
                </p>
            </div>
        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 1102">
        <div class="panel scroll-fixed fixed rate" style="">
            <div class="panel-heading font-weight-bold">
                Ручной ввод
            </div>
            <div class="panel-body">
                <template v-for="item in outputPanel.outputs">
                    <component :is="item.outputMapping.componentName" :item="item"></component>
                </template>
            </div>
            <div class="panel-footer">
                <template v-for="item in outputPanel.childOutputPanels">
                    <panel-block
                            :output-panel="item"
                            :deep-level="getChildDeepLevel()"
                    ></panel-block>
                </template>
            </div>
        </div>
    </template>

    <template v-if="outputPanel.outputMappingPanel.viewType === 1103">
        <ul class="nav nav-pills nav-stacked text-xs-center">
            <template v-for="item in outputPanel.outputs">
                <li class="m-b-1">
                    <component :is="item.outputMapping.componentName" :item="item"></component>
                </li>
            </template>
        </ul>
    </template>


    <template v-if="outputPanel.outputMappingPanel.viewType !== 40 && outputPanel.outputMappingPanel.viewType !== 1102">
        <div class="prototype-makr1-children-panel" v-bind:class="[getAttributes('childrenClass')? getAttributes('childrenClass'):'']" >
            <template v-for="item in outputPanel.childOutputPanels">
                <panel-block
                        :output-panel="item"
                        :deep-level="getChildDeepLevel()"
                ></panel-block>
            </template>
        </div>
    </template>

</div>
