<div class="prototype-makr1-panel"
     :data-output-mapping-panel-id="outputPanel.outputMappingPanel.id"
     :data-output-panel-id="outputPanel.id"
     :id="'panel-mapping-' + outputPanel.outputMappingPanel.id"
>

    <template v-if="outputPanel.outputMappingPanel.componentName === 'panel-table'">
        <panel-table
            :output-panel="outputPanel"
            :deep-level="1"
        ></panel-table>
    </template>

    <template v-if="outputPanel.outputMappingPanel.componentName === 'panel-block'">
        <panel-block
            :output-panel="outputPanel"
            :deep-level="1"
        ></panel-block>
    </template>

</div>
